:root{
    --Slate-900:#1f314f;
    --Slate-500:#68778d;
    --Slate-300:#d5e1ef;
}

body{
    margin: 0rem;
    height: 100dvh;
    width: 100dvw;
  }
  .outer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Slate-300);
  }
  .inner-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 31.18rem;
    width: 20rem; 
    border-radius: 1.25rem;
  }
  .deep-container {
    text-align: center;
    padding: 0rem 1rem;
    width: 18rem;
    margin: 1.5rem 0rem 2.5rem 0rem;
    height: 8.18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    span {
      font-family: "Outfit", sans-serif;
      font-size: 0.93rem;
      text-align: center;
      color: var(--Slate-500);
      letter-spacing: 0.0125rem;
      line-height: 140%;
      width: 16rem;
    }
    h1{
        color:var(--Slate-900);
      font-family: "Outfit", sans-serif;
      font-weight: bold;
      width: 16rem;
      margin: 0rem;
      letter-spacing: 0rem;
      line-height: 120%;
      font-size: 1.375rem;
    }
  }
  .qr-image {
    width: 18rem;
    height: 18rem;
    border-radius: 0.93rem;
    margin-top: 1rem;
  }